 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>はじめまして。鈴木と申します。</p>
                </div>
                <div class="col-lg-4">
                    <p>元々はWeb系エンジニアですが、現在はソフト半分、ハード半分というようなモノづくりの仕事をしています。</p>
                </div>
                <div class="col-lg-4">
                    <p>仕事では、node.jsやPython, PHPを、趣味ではElixirをよく使っています。また、スマホアプリにも興味があったのでFlutterにも手を出し始めました。</p>
                </div>
                <div class="col-lg-4">
                    <p>技術者として、「とりあえずなんでもやってみる」を意識しています。</p>
                </div>
            </div>
        </div>
    </section>
