 <!-- Profile Section -->
    <section class="success" id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Profile</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>About me</h3>
                    <h4>Name</h4>
                    <p>Takahito Suzuki</p>
                    <h4>Favorite</h4>
                    <p>横浜DeNAベイスターズ, バイク(HORNET 250)</p>
                </div>
                <div class="col-lg-4">
                    <h3>Skills</h3>
                    <h4>Language</h4>
                    <p>Elixir(Phoenix, Nerves), PHP(Laravel, Slim), JavaScript(node.js, Vue.js), Dart(Flutter), Python, Java, C++, CUDA, lua, Rust, Verilog HDL </p>
                    <h4>MicroController</h4>
                    <p>PIC, mbed, Arduino(ESP32, ESP8266, M5Stack)</p>
                    <h4>Tools</h4>
                    <p>Git, Vim, Illustrator, AWS</p>
                    <h4>FPGA &amp; Electrical (修行中...)</h4>
                    <p>Quartus, Vivado, OrCAD, Eagle</p>
                    <h4>3DModeling</h4>
                    <p>Fusion360, SolidWorks, FreeCAD</p>
                    <h4>Other</h4>
                    <p>3Dプリント, 半田付け, レーザー加工, ロジアナ, オシロスコープ など</p>
                </div>
            </div>
        </div>
    </section>
